/* Styles pour la classe container */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Styles pour la classe button */
.button {
    background-color: rgb(224, 209, 67);
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
}

/* Styles pour la classe nomProjet */
.nomProjet {
    margin-bottom: 10px;
}

/* Styles pour la classe link */
.link {
    color: rgba(0, 145, 182, 0.842);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}